[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pysmb = "*"
requests = "*"
openpyxl = "*"
python-docx = "*"
terminaltables = "*"
ipparser = ">=0.3.5"

[requires]
python_version = "3.7"