certifi==2019.9.11
chardet==3.0.4
dnspython==1.16.0
et-xmlfile==1.0.1
idna==2.8
ipparser==0.3.5
jdcal==1.4.1
lxml==4.4.1
openpyxl==3.0.0
pipenv==2018.11.26
pyasn1==0.4.7
pysmb==1.1.27
python-docx==0.8.10
requests==2.22.0
terminaltables==3.1.0
urllib3==1.25.6
virtualenv==16.7.9
virtualenv-clone==0.5.3
